* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: rgb(72, 48, 88);
    color: bisque;
    font-style: italic;
    font-size: xx-large;
}
header {
    font-style: italic;
    margin: 5px;
    border-radius: 10px;
    border-width: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div {
    display: flex; 
    justify-content: space-evenly;
    width: 800px;
}
.iv {
    font-size: large;
    font-family: "Niconne";
    color: bisque;
    background-color: black;
    justify-content: space-evenly;
    margin: 0 50px 0 50px;
}
.iv:hover {
    font-size: xx-large;
}
.name {
    font-family: "Niconne"; 
}
main {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
h5 {
    margin-bottom: 50px;
    background: linear-gradient(to right, #ff007f, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mike {
    width: 900px;
}
video {
    width: 600px;
    height: 600px;
    text-align: center;
}
.helo {
    background: linear-gradient(to right, #ff007f, #800080);
    -webkit-background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;
}
.videos {
      display: flex;
    justify-content: space-between;
    align-items: center;
}
figure {
    margin: 50px;
}
figcaption {
     text-align: center;
     font-size: x-large;
     border: solid black 5px;
}
.hey {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}